<body>
  
  <div class="fullpage-table" id="front-banner">
    <div class="table-row">
      <div class="cell header-cell dark">
        <div class="corset">
          header
        </div>
      </div>
    </div>
    <div class="table-row">
      <div class="cell body fill">
        <div class="corset center">
          <%= render "shared/paperplane_pic" %>
          <div class="clearfix"></div>
          <br/>
          <h1 class="display brand5-clr">better styles <small><%= BetterStyles::VERSION %></small></h1>
        </div>
      </div>
    </div>
    <div class="table-row">
      <div class="cell footer-cell dark">
        <div class="corset">
          footer
        </div>
      </div>
    </div>
  </div>
  
  <div id="main_stage">
    
    <div id="aside">
      <%= link_to "/", class: "aside_lnk" do %>
        <div class="icn">
          <%= btricon("paperplane2") %>
        </div>
        <div class="label">
          Better-Styles
        </div>
      <% end %>
      <% 25.times do |x| %>
        <a class="aside_lnk">
          <div class="icn">
            <i class='bettericon-earth'></i>
          </div>
          <div class="label">
            Aside Link <%= x + 1 %>
          </div>
        </a>
      <% end %>
    </div>
    
    <div id="stage">
      
      <div class="aside_toggle" id="aside_toggle">
        <i class='bettericon-text-block'></i>
      </div>
      
      <div class="section">
        <div class="corset">
        
          <%= render "shared/lorems" %>
        
        </div>
      </div>
    </div>
    
  </div>
  
</body>
