<div class="aside_lnk <%= 'on' if (params[:controller] == "backend/users" && params[:action] == "edit_step") %>">
  <a href="#" class="toggler">
    <div class="icn">
      <%= image_tag( "users/frieda_square.jpg", class: "avatar" ) %>
    </div>
    <div class="labl">
      Frieda User <span class="caret"></span>
    </div>
  </a>
  <ul class="aside_nav">
    
    
    <li><a>
      <div class="icn"><%= btricn("user") %></div>
      <div class="labl"><%= t("links.settings") %></div>
    </a></li>
    
    <li class="divide">&nbsp;</li>
    <li>
      <a>
        <div class="icn"><%= btricn("exit-in") %></div>
        <div class="labl">Logout</div>
      </a>
    </li>
  </ul>

</div>