  <a href="#" id="mobile_header" class="inline_table center_text">
    <div class="cell icn col-1 middle">
      <i class="olicons-show-sb"></i>
    </div>
    <div class="cell col-10 middle">
      <span id="current-view-name">Better-Stylez</span>
    </div>
    <div class="cell icn col-1 middle">
      <i class="olicons-show-sb"></i>
    </div>
  </a>
  
  <div id="aside">
    <div class="aside-content">
      <ul class="nav_list lined nice">
        <li class="current active"><%= link_to "Better-Stylez", "#", class: "app_lnk lst_lnk", data: {target: ""} %></li>
        <% pathes = {} %>
        <% Dir.glob("#{Rails.root}/app/assets/javascripts/views/**/*").each do |ff| %>
          <% path = ff.gsub("#{Rails.root}/app/assets/javascripts/views/", "") %>
          <% if path.match(/\.jst.eco$/) %>
            <% path = path.gsub(".jst.eco", "") %>
            <% ar = path.split("/") %>
            <% pathes[ar[0]] ||= {} %>
            <% pathes[ ar[0] ][ ar[1] ] = path %>
          <% end %>
        <% end %>
        <% pathes.each do |main, sub| %>
          <% unless main == "app" %>
            <li class="arrow"><%= link_to main.titleize, "#", class: "lst_lnk" %>
              <ul class="sub_nav">
                <% sub.each do |lnk, path| %>
                  <% unless Rails.env.production? && %w(reflections slide_boxes).include?( lnk.to_s ) %>
                    <li><%= link_to lnk == "at_first" ? "Introduction" : lnk.titleize, "#", class: "app_lnk lst_lnk", data: {target: path} %></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
        <li><%= link_to "Changelog", "#", class: "app_lnk lst_lnk", data: {target: "app/changelog"} %></li>
      </ul>
    
      <div class="clearfix"></div>
      <br/>
      <a href="https://github.com/berlinmagic/better_styles/tree/master" target="_blank" class="btn btn-secondary btn-divided">
        <span class="icn"><i class="icomoon-github3"></i></span>
        <span>SourceCode</span>
      </a>
      <div class="clearfix"></div>
      <br/>
    </div>
  </div>
  
  <div class="clearfix"></div>
  <div id="app_content">
    
    <div class="fullpage-table" id="front-banner">
      <div class="table-row">
        <div class="cell">
          <div class="corset center">
            <%= render "shared/paperplane_pic" %>
            <div class="clearfix"></div>
            <br/>
            <h1 class="display brand5-clr">better styles <small><%= BetterStyles::VERSION %></small></h1>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="clearfix"></div>
