<div class="fullpage-table" id="front-banner">
  <div class="table-row">
    <div class="cell">
      <div class="corset center">
        <%= image_tag "paperplane-blue3.png", id: "paperplane" %>
        <div class="clearfix"></div>
        <br/>
        <h1 class="display brand5-clr">better styles <small><%= BetterStyles::VERSION %></small></h1>
      </div>
    </div>
  </div>
</div>

<div class="section head">
  <div class="corset">
    <h1>better_styles</h1>
  </div>
</div>

<div class="section">
  <div class="corset">
    
    <h2>Hey Hey</h2>
    
    <div class="row">
      <% 2.times do |x| %>
        <div class="col-6 col-sm-3">
          <div class="box">
            .col-6 .col-sm-3
          </div>
        </div>
      <% end %>
      <!-- Add the extra clearfix for only the required viewport -->
      <div class="clearfix hidden-sm-up"></div>
      <% 2.times do |x| %>
        <div class="col-6 col-sm-3">
          <div class="box">
            .col-6 .col-sm-3
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
</div>

<% 10.times do |x| %>
  <% that = x %>
  <div class="section brand<%= that %>">
    <div class="corset center">
      <p class="title">.section<%= that > 0 ? ".brand#{ that }" : "" %> p.title</p>
      <p class="title secondary">.section.brand<%= x + 1 %> p.title.secondary</p>
      <p class="title disabled">.section.brand<%= x + 1 %> p.title.disabled</p>
    </div>
  </div>
<% end %>

<div class="section">
  <div class="corset">
    
    <table class="table table-inverse">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>

